[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "stoRy"]
	path = stoRy
	url = https://github.com/theme-ontology/story
	shallow = true
	registered = true
